
.hero-main {
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-top: 100px;
}

.hero-text h1 {
    color: var(--color-black);
    font-family: var(--font-family-bold);
    font-size: 44px;
}

.text-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-text p {
    color: var(--color-black);
    font-family: var(--font-family-medium);
    font-size: 18px;
    width: 600px;
}

.hero-img {
    background-position: 50%;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 20rem;
    width: 20rem;
    background-image: url(../picturies/image/Безымянный.png);
    -webkit-animation-name: animated-border;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    margin-top: 150px;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    margin-top: 60px;
    padding: 0 90px;
}

.skills p {
    border-right: 2px solid rgba(45,46,50,.5);
    color: var(--color-black);
    font-family: var(--font-family-bold);
    padding-right: 20px;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    list-style: none;
}

@-webkit-keyframes animated-border {
    0% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }

    50% {
        border-radius: 70% 40% 70% 50% / 60% 40% 30% 70%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
}